body {
    text-align: center;
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, Georgia, serif;
}

.fila {
    display: flex;
    justify-content: center;
}

.carta {
    width: 120px;
    height: 180px;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}